name: Build scaffold
on:
  workflow_dispatch:
    inputs:
      data:
        description: 'Data'
        required: false
        type: string
jobs:
  scaffold:
    runs-on: ubuntu-latest
    #defaults:
    #  run:
    #    working-directory: app
    steps:
      - name: Print input
        run:  echo "Inputs-> ${{ inputs.data }}" 
      - uses: actions/setup-java@v3
        with:
          distribution: temurin
          java-version: 11
      - name: Setup Gradle
        uses: gradle/gradle-build-action@v2
      - name: Build gradle
        run: |
          echo "plugins {
              id \"co.com.bancolombia.cleanArchitecture\" version \"2.4.4\"
          }" > build.gradle
      - name: Generate Project
        run: |
          gradle ca --package=co.com.bancolombia --type=reactive --name=HelloProject --coverage=jacoco --lombok=true
      - name: Generate ...
        run: |
          gradle gep --type webflux
          gradle gm --name User
          gradle guc --name CreateUser
          gradle gda --type generic --name DrivenAdapter
      - name: Archive Release
        uses: thedoctor0/zip-release@main
        with:
          type: 'zip'
          filename: 'app.zip'
      - name: Check
        run: |
          ls
          pwd
      - name: S3 Sync
        uses: ItsKarma/aws-cli@v1.70.0
        with:
          args: s3 cp ./app.zip s3://build-scaffold/
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_DEFAULT_REGION: "us-east-1"
