name: Build scaffold
on:
  push:
    branches:
      - "main"
jobs:
  scaffold:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: app
    steps:
      - uses: actions/setup-java@v3
        with:
          distribution: temurin
          java-version: 11
      - name: Setup Gradle
        uses: gradle/gradle-build-action@v2
      - name: Run command
        run: |
          pwd
          ls
          java --version
          gradle --version
          echo "plugins {
              id \"co.com.bancolombia.cleanArchitecture\" version \"2.4.4\"
          }" > build.gradle